
/*---
Card
@group			UIComponents/Cards
@desc			...
@todo			Document
@author			Michael Ord
@tags			module
---
...
*/
.card
{
	$parent						: &;

	$card-padding				: 1rem;

	position					: relative;
	padding						: $card-padding;
	background-color			: #fff;
	box-shadow					: 0px 2px 4px 0 rgba(204, 204, 204, 0.3);
	margin						: 0 0 1rem 0;
	background-repeat			: no-repeat;
	background-size				: cover;

	> *
	{
		&:first-child
		{
			margin-top			: 0;
		}

		&:last-child
		{
			margin-bottom		: 0;
		}
	}

	& + &--stacked
	{
		margin-top				: -.9rem;
	}

	// toggle states
	&.close
	{
		#{$parent}__body
		{
			display				: none;
		}
	}

	&__hero
	{
		margin					: (-$card-padding) (-$card-padding) ($card-padding) (-$card-padding) !important;
	}

	&__tag:first-child
	{
		position				: absolute;
	}

	&__header
	{
		margin					: (-$card-padding) (-$card-padding) ($card-padding) (-$card-padding) !important;
		padding					: ($card-padding / 2) $card-padding;
		position				: relative;
		z-index					: 5;
		box-shadow				: 0 2px 2px -1px rgba(0, 0, 0, .1);
		background-color		: #fff;
		color					: #000;

		display					: flex;
		align-items				: center;

		> *:first-child
		{
			flex-grow			: 1;
		}
	}

	&__title
	{
		color					: inherit;
		font-size				: 18px;
		margin					: 0;
		padding					: 0;

		+ *
		{
			margin-top			: 1rem;
		}
	}

	&__label
	{
		text-transform			: uppercase;
		display					: block;
	}

	&__body
	{
		position				: relative;
	}

	&__bg
	{
		position				: absolute;
		top						: 0;
		bottom					: 0;
		left					: 0;
		right					: 0;
		object-fit				: cover;
		height					: 100%;
		opacity					: .3;
		user-select				: none;
		pointer-events			: none;
	}

	&__icon
	{
		margin-bottom			: 1rem;
	}

	&__footer
	{
		background-color		: #fff;
		position				: relative;
	}

	&__background
	{
		img
		{
			position			: absolute;
			top					: 0;
			left				: 0;
			right				: 0;
			bottom				: 0;
			object-fit			: cover;
		}
	}

	&--theme-1
	{
		background-color		: #838CC7;
		color					: #fff;
	}

	&--theme-2
	{
		background-color		: #39ADD2;
		color					: #fff;
	}

	&--theme-3
	{
		background-color		: #F1F5F8;
		//color					: #fff;
	}

}
